{% extends 'base.html.twig' %}

{% block title %}New Fichier{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <h1 class="text-center text-4xl">Deposer un nouveau fichier</h1>

    {{ include('fichier/_form.html.twig') }}
{% endblock %}
